/* Global stuffs */
@font-face {
    font-family: Delicious; 
    src: url('Quicksand-light.ttf');
 }
body {
    height: 100%;
    overflow: hidden;
    background-color: #E9EEF2;
    display: flex;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5 h6 {color: #34516c}
.h1,h1 {font-size: 1.375rem; font-weight: 700; margin: 21px 0;}
.h2,h2 {font-size: 1.25rem; font-weight: 500; margin: 18px 0;}
.h3,h3 {font-size: 1.125rem; font-weight: 400; margin: 15px 0;}
.h4,h4 {font-size: .875rem; font-weight: 500; margin: 12px 0;}
.h5,h5 {font-size: .75rem; margin: 9px 0;}
.h5,.h6,h5,h6 {font-weight: 400}
.h6,h6 {font-size: .625rem; margin: 6px 0;}
.vertical_separator {
    border-right:1px #ff0000;    /* line 1 pixel width, length of "Some content" */
    height: 48px;
}
.badge {
    float: right;
    /*display: inline-block;*/
    background: #506480;
    border-radius: 100px;
    color: #1f2731;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
    padding: 2px 5px;
    -webkit-transition: background .25s;
    -o-transition: background .25s;
    transition: background .25s;
    vertical-align: middle
}
ul {list-style: none}
/* Top bar and left menu */
#sidenav {
    background-color: #1D2938;
    color: #526780;
    height:100vh;
    width: 256px;
    display: flex;
    flex-direction: column;
}
#content {
    flex-grow: 1;
    height:100vh;
    overflow-y: auto;
    background-color: #e3e4e6;
}
#top_controls, #bottom_controls {
    background-color: #727983;
    display: flex;
}
#top_controls {
    height: 32px;
    font-size: 24px;
    padding-top: 8px;
}
#bottom_controls {
    height: 24px;
    font-size: 16px;
    padding-top: 4px;
}
#top_controls a, #bottom_controls a {
    margin: 0px 4px;
}
#filters {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 7px;
}
#system {
    height: 24px;
    font-size: 16px;
    margin: 4px 7px;
    display: flex;
}
#system .compact {
    width: 3.2em;
    text-align: center;
}
#system .progress_bar {
    background-color: rgba(9, 24, 36, 0.171);
    height: 16px;
    position: relative;
    display: inline-block;
    width: 100px;
    margin-left: 7px;
}
.progress {display: block; height: 100%;}

/* Buttons & links */
.grow {flex-grow: 1;}
a {
    text-decoration: none;
    color: darkslateblue;
    opacity: 0.64;
    filter: alpha(opacity=40);
}

a:hover {
    opacity: 1;
    filter: alpha(opacity=40);
}

.rounded {
    border-radius: 25px;
    border: 1px solid black;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
    margin: 1em 1em;
}

/* Bloc configuration */
#bandwidth {
    display: flex;
    border: 1px solid rgba(9, 24, 36, .4);
    border-left: none;
    border-right: none;
    border-radius: 0;
    background: rgba(9, 24, 36, 0.171);
}
#bandwidth .download, #bandwidth .upload {
    flex: 1 1 0;
    width: 0;
    margin: 5px;
}
#bandwidth .current {font-size: 1.5em;}

#bandwidth .current small {font-size: 0.48em;}
#bandwidth .overall {font-size: 0.8em; font-style: italic;}
#bandwidth .overall small {font-size: 0.78em;}
#bandwidth .icons {text-align: center; padding: 7px 0.5em 0 0;}
.download {color: #29AE6C;}
.upload {color: #2287DA;}
.supsub {position: absolute}
.supsub sup, .supsub sub {display:block; position:relative; left:5px; top: -5px;}

#sidenav ul {
    margin-top: -10px;
    padding-left: 0.7em;
}
#sidenav li {
    color: #526780;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.8em;
    padding: 2px 0px;
}
#content table {border-collapse: collapse;}
#content thead {
    font-size: 0.72em;
    background-color: #fafbfc;
}
/* Misc */
#search_bar {display: flex;}
#search_bar input {flex-grow: 1;}
#search_bar>* {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(9, 24, 36, .4);
    border-left: none;
    border-right: none;
    border-radius: 0;
    background: rgba(9, 24, 36, 0.171);
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #53718a;
    display: block;
    font-size: 0.8em;
    outline: none;
    padding: 8px 7px;
    -webkit-transition: background .25s, border .25s, color .25s;
    -o-transition: background .25s, border .25s, color .25s;
    transition: background .25s, border .25s, color .25s;
}
.modal {
    display: none; position: fixed;
    z-index: 1;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #1d2938;
    color: #526780;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(9, 24, 36, .4);
    width: 70%;
    max-height: 50%;
    overflow: auto;
    border-radius: 8px;
}
.modal .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -18px;
}
.close {
    color: #aaa;
    float: right;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black; text-decoration: none;
  cursor: pointer;
}
.filter .active {
    font-weight: bold;
    color: #1a8be8;
}
.popup_menu {
    display:block;
    position:fixed;
    float: left;
    top: 50%; left: 15%;
    width: 256px;
    margin: 0px;
}
.popup_menu span {float: right;}
/*Torrents*/
#torrents thead {
    /*position: fixed;*/
}
