<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>pSeedbox - {{ _('Authentication') }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/pure-min.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
<style>
    #login {
        padding: 20px; 
        width: 200px;
        background-color: aliceblue;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-100px;/* half width*/
        margin-top:-200px;
    }
</style>
</head>
<body>
    <form class="pure-form pure-form-stacked pure-g rounded" id="login" method="POST" action="{{url_for('auth')}}">
        <fieldset class="pure-u-2-5">
            <legend data-i18n="authentification">Authentication</legend>
    
            <label for="un" data-i18n="username">Username</label>
            <input id="un" placeholder="Username" name="username" data-i18n-placeholder="Username">
    
            <label for="p" data-i18n="password">Password</label>
            <input id="p" type="password" placeholder="Password" name="password" data-i18n-placeholder="password">
    
            <button type="submit" class="pure-button pure-button-primary pure-u-1" style="margin-top: 2em;" data-i18n="sign_in">Sign in</button>
        </fieldset>
    </form>
</body>
</html>