<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>pSeedbox</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/pure-min.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/icons-ui.css') }}" />
<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
<script src="{{ url_for('static', filename='js/events.js') }}"></script>
<script src="{{ url_for('static', filename='js/commands.js') }}"></script>
<script src="{{ url_for('static', filename='js/ui.js') }}"></script>
<style>

</style>
</head>
<body>
<div id="top" class="pure-menu pure-menu-horizontal">
    <a href="javascript:add_torrent_dialog()" class="pure-menu-heading pure-menu-link" title="{{ _('Add a torrent') }}"><span class="icon-add"></span></a>
    <a href="javascript:start_torrent()" class="pure-menu-heading pure-menu-link" title="{{ _('Start a torrent') }}"><span class="icon-start"></span></a>
    <a href="javascript:stop_torrent()" class="pure-menu-heading pure-menu-link" title="{{ _('Stop a torrent') }}"><span class="icon-stop"></span></a>

    <a href="javascript:manage_feed_dialog()" class="pure-menu-heading pure-menu-link" title="{{ _('Manage feeds') }}"><span class="icon-feed"></span></a>
    <a href="javascript:manage_premium_account_dialog()" class="pure-menu-heading pure-menu-link" title="{{ _('Manage premium accounts') }}"><span class="icon-premium-1"></span></a>

    <span class="pure-menu-heading" title="{{ _('Download speed') }}" id="download_speed"><span class="icon-download"></span> 0 {{_('Kos')}} </span>
    <span class="pure-menu-heading" title="{{ _('Upload speed') }}" id="upload_speed"><span class="icon-upload"></span> 0 {{_('Kos')}} </span>
    <span class="pure-menu-heading" title="{{ _('Disk usage') }}" id="disk_usage"><span class="icon-hdd"></span> 200 {{_('GB')}} / 500 {{_('GB')}} </span>

    <!-- User menu -->
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" style="float: right; margin-right: 3em;">
        <a href="#" id="usermenu" class="pure-menu-link"><span class="icon-user"></span> {{ session['username'] }}</a>
        <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="javascript:edit_profile()" class="pure-menu-link"><span class="icon-user-edit"></span> {{ _('Edit profile') }}</a></li>
                <li class="pure-menu-item"><a href="{{ url_for('logout') }}" class="pure-menu-link"><span class="icon-sign-out"></span> {{ _('Logout') }}</a></li>
        </ul>
    </li>
</div>

</body>
</html>