<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>pSeedbox - {{ _('Logged out') }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="5;URL=/">
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/pure-min.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/main.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='theme/default.css') }}" />
</head>
<body>
<div class="alert-success">{{ _('You are successfully logged out!') }}</div>
<div style="text-align: center">{{ _('Redirect in 5 seconds to the') }} <a href="{{ url_for('index') }}">{{ _('login page') }}</a>...</div>
</body>
</html>